@import url("index.css");
@import url("galerie.css");
@import url("impressum.css");
@import url("restaurant.css");
@import url("speisekarte.css");
html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 13px;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

#holder {
    margin: 0 auto;
}

nav {
    background: #414141;
}

.footer {
    border: 1px solid #f7ab46;
}

@media (max-width: 640px) {
    .footer {
        font-size: 9px;
    }
}

@media (max-width: 390px) {
    .vinos-img {
        width: 200px;
    }
}