html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 14px;
    overflow-y: scroll;
}

*,
 ::before,
 ::after {
    box-sizing: inherit;
}

#holder {
    margin: 0 auto;
}

nav {
    background: #414141;
}

.btn.btn-lg.btn-light {
    border: 1px solid lightgray
}

.restaurant-name {
    font-weight: 200;
}

.copyright {
    font-size: 9px;
}

.footer {
    border: 1px solid #f7ab46;
}

@media (max-width: 640px) {
    .footer {
        font-size: 9px;
    }
}

@media (max-width: 390px) {
    .vinos-img {
        width: 200px;
    }
}